@keyframes tilt-shaking {
    0% {transform: rotate(0deg);}
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg);}
  }
  
.homeParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  text-align: center;
  width: 30em;
  height: auto;
  margin-top: 1em;
  animation: tilt-shaking 0.5s infinite;
}

.title-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sprite1 {
  z-index: 1;
}

.petr {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 25vh;
}

.button1 {
  z-index: 1;
  }
