@keyframes tilt-shaking {
    0% {transform: rotate(0deg);}
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg);}
  }
  
  .title {
    position: relative;
    text-align: center;
    width: 20em;
    height: auto;
    animation: tilt-shaking 0.5s infinite;
  }
  
  .title-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .sprite1 {
    z-index: 1;
  }

  .petr {
    z-index: 2;
  }

  .button1 {
    z-index: 1;
  }
